@page "/animal/price"
@using VirtualPets2.Shared.Models
@using Microsoft.AspNetCore.Authorization
@inject HttpClient http
@inject NavigationManager navigation
@attribute [Authorize]

<h3>Price</h3>

<div class="container">

    <label>Choose the highest price:</label>
    <InputNumber class="form-control" @bind-Value="@money" />
    <button type="submit" class="btn btn-primary btn-block mt-5" @onclick="HandleSubmit">See Results</button>
</div>



@code {
    [Parameter]
    public double money { get; set; }
    public List<AnimalListItem> animals;

    private void HandleSubmit()
    {
        navigation.NavigateTo($"animal/price/{money}");
    }

}
