@page "/animal/price/{money:double}"
@using Microsoft.AspNetCore.Authorization
@using VirtualPets2.Shared.Models
@inject HttpClient http
@attribute [Authorize]

<h3>Animals</h3>

<div class="row">
    <div class="col mx-auto justify-content-between">

        @foreach (var animal in animals)
        {
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@animal.Title.ToUpper()</h3>
                    <h6>Price: $@animal.Price</h6>
                    <a href=@($"animal/{animal.Id}")>Details</a>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public double money { get; set; }
    public List<AnimalListItem> animals;

    protected override async Task OnInitializedAsync()
    {
        animals = await http.GetFromJsonAsync<List<AnimalListItem>>($"/api/animal/price/{money}");
    }

}
