@*@page "/food/{foodId:int}/user/{userId:int}/animal/{animalId:int}"
@using VirtualPets2.Shared.Models
@using Microsoft.AspNetCore.Authorization
@inject HttpClient http
@attribute [Authorize]

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">What would you like to feed your pet?</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <label>Food</label>
                    <InputSelect class="form-control" @bind-Value="_foodtoDelete.Id">
                        @foreach (var food in foods)
                        {
                            <option value="@food.Id">@food.Name</option>
                        }
                    </InputSelect>
                    <button type="submit" class="btn btn-primary btn-block mt-5" @onclick="() => HandleSubmit(food, animal)">Submit</button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int userId { get; set; }

    public List<FoodUserDetails> foods { get; set; } = new List<FoodUserDetails>();

    protected override async Task OnInitializedAsync()
    {
        foods = await http.GetFromJsonAsync<List<FoodUserDetails>>($"/api/user/{userId}/foods");
    }

}*@
